@import "tailwindcss";

@layer base {
  h1, h2, h3, h4, h5, h6, p {
    @apply text-foreground;
  }
  
  h1 {
    @apply scroll-m-20 text-4xl md:text-5xl font-bold tracking-tight; 
  }

  h2 {
    @apply scroll-m-20 text-3xl sm:text-4xl font-semibold text-center;
  }

  form {
    @apply m-2 space-y-6 mx-auto p-6 rounded-lg bg-card shadow-md w-[92.5%] max-w-xl md:max-w-3xl;
  }
}

@theme {
  --color-main-blue: #e8eef4;
  --color-nav-blue: #53a5cb;
  --color-dark-blue: #09173b;
  --color-card-blue: #3d4552;
  --color-hover-blue: #b0d5e6;

}

/* dont use any of these for now */
@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-light: hsl(var(--card-light));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

:root {
  --background: 210 33% 93%; /* colour for backgroud */
  --foreground: 223 74% 13%; /* colour for text */
  --card: 0 0% 100%; /* colour for form backgrounds */
  --card-foreground: 0 0% 3.9%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.9%;
  --primary: 0 0% 9%; /* colour for buttons and other interactive elements */
  --primary-foreground: 0 0% 98%;
  --secondary: 207 100% 32%; /* accent colour */
  --secondary-foreground: 0 0% 9%;
  --muted: 220 15% 28%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 96.1%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.9%;
  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
  --radius: 0.5rem;
  /* new stuff */
  --main-blue: #e7edf3;
  --nav-blue: #53a5cb;
  --test: hsl(217, 100%, 60%);
  --dark-blue: #09173b;
}

.dark {
  --background: 218 18% 34%;
  --foreground: 0 0% 98%;
  --card: 220 15% 28%;
  --card-foreground: 0 0% 98%;
  --popover: 0 0% 3.9%;
  --popover-foreground: 0 0% 98%;
  --primary: 0 0% 98%;
  --primary-foreground: 0 0% 9%;
  --secondary: 199 54% 56%;
  --secondary-foreground: 0 0% 98%;
  --muted: 0 0% 60%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 14.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 94% 52%;
  --destructive-foreground: 0 0% 98%;
  --border: 0 0% 14.9%;
  --input: 219 14% 39%;
  --ring: 0 0% 83.1%;
  --chart-1: 220 70% 50%;
  --chart-2: 160 60% 45%;
  --chart-3: 30 80% 55%;
  --chart-4: 280 65% 60%;
  --chart-5: 340 75% 55%;
  /* new stuff */
  --nav-blue: #53a5cb;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

/* fix styling variables later */

/* Map Container sizing*/
.leaflet-container {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  height: 100vh;
  z-index: 0;
}

.cluster-icon {
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  background-color: white;
  transform: translate(-25%, -25%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
}
